@if (board) {
  <div class="flex h-full overflow-hidden {{board.background}}" style="view-transition-name: board-transition">
    <app-board-sidebar [workspace]="workspace" [bgBase]="board.base"></app-board-sidebar>
  
    <div class="bg-cc-board-filter duration-200 h-full w-full flex flex-col overflow-hidden pb-2">
  
      <!-- toolbar -->
      <div class="py-3 px-4 bg-black/25 flex justify-between text-white">
        <div class="relative flex">
          <label for="board-title"
            class="text-lg font-bold leading-8 min-w-fit relative hover:bg-white/15 z-10 cursor-pointer px-2 rounded-sm">{{board.title}}</label>
          <input type="text" id="board-title" [value]="board.title"
            class="focus:bg-zinc-800 focus:ring-2 focus:ring-blue-300 focus:z-10 focus:select-all px-2 z-0 w-full absolute left-0 bg-transparent text-lg font-bold leading-8 rounded-sm outline-none">
        </div>
        <button aria-label="Show menu"
          class="p-2 hover:bg-white/10 rounded-sm {{(settings | async)? 'invisible' : 'delay-200 visible'}}"
          (click)="setSettingsSidebar(true)">
          <app-menu-dots-icon dimensions="size-4"></app-menu-dots-icon>
        </button>
      </div>
  
      <!-- board -->
      <div id="board-content"
        class="flex gap-3 p-3 pb-2 flex-grow items-start overflow-x-auto min-w-full overflow-y-hidden"
        (mousedown)="pointerScroll()">
        @if (board.lists.length > 0) {
          <div class="flex gap-3 h-full">
            @for (list of board.lists; track $index) {
              <app-task-card-list [list]="list"></app-task-card-list>
            }
          </div>
        }
        <app-new-list-form [workspaceId]="workspaceId" [boardId]="boardId" [board]="board"></app-new-list-form>
      </div>
  
    </div>
  
    <!-- setting sidebar -->
    <app-board-settings [board]="board"></app-board-settings>
  
  </div>
} @else {
  <p class="text-3xl text-cc-subtle/60 font-semibold mt-20 mx-auto">Page not found.</p>
}